@tailwind base;
@tailwind components;
@tailwind utilities;
/* gold = #D2B48C
black - #161719 */

@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');



 *{
    
font-family: 'Fauna One', serif;
 }

 h1 {
    font-family: 'Cinzel', serif;
 }

 
#root {
    background-color: #161719;
}

/* h1 outline/shadow */
h1 {
    color: #d2B48c!important;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }

/* Hover effect on dropdown menu items */
#headlessui-popover-panel-\:rb\: > div > div > a:nth-child(1) {
    background-color: gray!important;
    
}

#headlessui-popover-panel-\:rb\: > div > div > a:nth-child(2) {
    background-color: gray!important;
}

#headlessui-popover-panel-\:rb\: > div > div > a:nth-child(3){
    background-color: gray!important;
}
/*  */


/* hover effects on navbar items */
#root > div > div > header > div > div > nav > a:nth-child(2) {
    color: #D2B48C;
}
#headlessui-popover-panel-\:rb\: > div > div > a:nth-child(1):hover {
    background-color: gray!important;
    
}

#headlessui-popover-panel-\:rb\: > div > div > a:nth-child(2):hover {
    transform: scale(101%);
    opacity: 90%;
   
}

#headlessui-popover-panel-\:rb\: > div > div > a:nth-child(1):hover {
    transform: scale(101%);
    opacity: 90%;
   
}

#headlessui-popover-panel-\:rb\: > div > div > a:nth-child(3):hover {
    transform: scale(101%);
    opacity: 90%;
   
}

#headlessui-popover-panel-\:rb\: > div > div > a:nth-child(3):hover{
    background-color: gray!important;
}
/*  */


/* hover effects on navbar items */
#root > div > div > header > div > div > nav > a:nth-child(2):hover {
    color: #D2B48C;
}

#root > div > div > header > div > div > nav > a:nth-child(2) {
    color: white;
}


/* hovering cards portfolio */
.content-div{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
  }
    .content-div:hover{
      background-image:
      linear-gradient(to right,
       rgba(238, 205, 114, 0.801), hsla(0, 0%, 14%, 0.801) ),
     
      }
  
      .image-cover  {
        height:260px;
      }
    /*
    -remove the classes below if you have the 'group-hover'property added in your tailwind config file
    -also remove the class from the html template
    */
  

      /* outline of span on portfilio card */
     .span1 {
        color: black;
        text-shadow:
         -1px -1px 0 #D2B48C,  
          1px -1px 0 #D2B48C,
          -1px 1px 0 #D2B48C,
           1px 1px 0 #D2B48C;
      }


      /* scroll to top buton */

  